<% content_for(:html_title) {"Your Cart: "}%>

<% if cart.present? %>
    <div class="columns">
        <div class="column is-two-thirds">
            <% cart.each do |p| %>
                <%= render partial: 'item',
                            object: p,
                            locals: { show_link: false } %>
            <% end %>
        </div>
        <div class="column is-one-third">
            <section class="section">
                <h2>Subtotal (<%= pluralize cart.size, "item" %>): <%= number_to_currency(@total / 100) %></h2>
                <%= form_with url: checkout_create_path, remote: true, data: { turbo: false } do %>
                    <%= hidden_field_tag(:shopping_cart, session[:shopping_cart]) %>
                    <%= button_tag 'Buy Now' %>
                <% end %>
            </section>
        </div>
    </div>
<% else %>
    <p>There are no items in the cart currently. Feel free to add some!</p>
<% end %>