<h1 class="is-title">Your Shopping Cart</h1>

<% if cart.present? %>
    <div class="columns">
        <div class="column is-two-thirds">
            <% cart.each do |p| %>
                <section class="section">
                    <h1 class="title"><%= "#{p.flower_colour.colour_name.capitalize} #{p.flower_type.type_name}" %></h1>
                    <p><%= p.description %></p>
                    <a class="is-pulled-right"><%= button_to 'Remove from Cart', cart_path(p), method: :delete %></a>
                    <p><b>Price:</b> <%= number_to_currency(p.price_cents / 100) %></p>
                </section>
            <% end %>
        </div>
        <div class="column is-one-third">
            <section class="section">
                <h2>Subtotal (<%= pluralize cart.size, "item" %>): <%= number_to_currency(@total) %></h2>
                <p>Button for checkout here.</p>
            </section>
        </div>
    </div>
<% else %>
    <p>There are no items in the cart currently. Feel free to add some!</p>
<% end %>