<% content_for(:html_title) {raw @product.flower_type.type_name} %>

<div class="columns is-multiline">
    <% if @product.image.present? %>
        <div class="column is-one-half">
            <div class="card-image">
                <figure class="image">
                    <%= image_tag @product.image, :style => "height: 80%; width: 80%; display: block; margin-left: auto; margin-right: auto;" %>
                </figure>
            </div>
        </div>
    <% end %>
    <div class="column is-one-half">
        <h1 class="title"><%= "#{@product.flower_colour.colour_name} #{@product.flower_type.type_name}".titleize %></h1>
        <h2 class="subtitle"><%= number_to_currency(@product.price_cents / 100) %></h2>
        <p>Flower Type: <%= link_to @product.flower_type.type_name.titleize, @product.flower_type %></p>
        <br>
        <p>Flower Colour: <%= link_to @product.flower_colour.colour_name.titleize, @product.flower_colour %></p>
        <br>
        <p><strong>Description: </strong></p>
        <p><%= @product.description %></p>
        <br>
        <button>Add to cart</button>
    </div>
</div>



<a href="/products"><b>Return to all products</b></a>