<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src = "https:/js.stripe.com/v3"></script>
  </head>

  <body>
    <%= render "layouts/menu" %>
    <section class="section">
      <div class="container">
        <h1 class="title is-2">Violet Villa<%= " - " + yield(:html_title) if content_for?(:html_title)%></h1>
      </div>
      <nav>
         <%= link_to image_tag("shopping_cart.png", width: 100), root_path%>
         <ul>
          <li>
          </li>
         </ul>
      </nav>
      <%= debug session[:shopping_cart] %>
      <% if flash[:notice] %>
        <p>
          <%= flash[:notice] %>
        </p>
      <% end %>
      <%= yield %>
    </section>
    <footer>
      <details>
        <summary>
          Cart
          <% if cart.present?%>
          <sup><%= cart.size %></sup>
          <% end %>
        </summary>
        <% if cart.present?%>
          <ul>
            <% cart.each do |p| %>
              <li>
                <%= "#{p.flower_colour.colour_name} #{p.flower_type.type_name}"%><%= button_to '-', cart_path(p), method: :delete %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </details>
    </footer>
  </body>
</html>
